//
//  Secrets.xcconfig
//  PulseBoard
//
//  Created by 권정근 on 12/30/25.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project


// MARK: - Naver Login
NAVER_CLIENT_ID = O_XG2KfvLBS84MCXB3PM
NAVER_CLIENT_SECRET = CpWIrzb20g
NAVER_URL_SCHEME = com.jungguen.PulseBoard
NAVER_APP_NAME = PulseBoard

